# Introdução ao Pandas
> O Pandas contém estruturas de dados e ferramentas para manipulação de dados, projetadas para agilizar e facilitar a limpeza e a análise de dados em Python. Com frequência, o pandas é usado em conjunto com ferramentas de processamento numérico como NumPy e SciPy, bibliotecas de análise como statsmodels e scikit-learn e bibliotecas de visualização de dados como a matplotlib. O pandas adota partes significativas do estilo idiomático do NumPy para processamento baseado em arrays, especialmente funções baseadas em arrays e uma preferência por processamento de dados sem laços for.

>Embora o pandas adote muitos idioms de programação do NumPy, a principal diferença é que o pandas foi projetado para trabalhar com dados tabulares e heterogêneos. O NumPy, em comparação, é mais apropriado para trabalhar com dados numéricos homogêneos em arrays.

> Para começar a trabalhar com o pandas, você precisará se sentir à vontade com as duas estruturas de dados que são a sua força de trabalho: Series e DataFrame. Embora não sejam uma solução universal para todos os problemas, eles oferecem uma base sólida e fácil de usar para a maioria das aplicações.

In [3]:
import pandas as pd
import numpy as np

## Series
> Uma Series é um objeto do tipo array unidimensional contendo uma sequência de valores (de tipos semelhantes aos tipos do NumPy) e um array associado de rótulos (labels) de dados, chamado de índice.

In [4]:
serie = pd.Series([4,7,-5,3])
print(serie)

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
print(serie.values)

[ 4  7 -5  3]

In [7]:
print(serie.index)

RangeIndex(start=0, stop=4, step=1)

In [12]:
#Com frequência, será desejável criar uma Series com um índice que identifique cada ponto de dado com um rótulo
serie2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
print(serie2)
print(serie2.index)
print(serie2['a'])
serie2['d'] = 6
print(serie2[['c','a','d']])

d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')
-5
c    3
a   -5
d    6
dtype: int64

In [14]:
#Usar funções NumPy ou operações do tipo NumPy, como filtragem com um array booleano, multiplicação escalar ou aplicação de funções matemáticas, preservará a ligação entre índice e valor.
print(serie2[serie2 > 0])
print(serie2 * 2)

d    6
b    7
c    3
dtype: int64
d    12
b    14
a   -10
c     6
dtype: int64

In [15]:
#Outra forma de pensar em uma Series é como um dicionário ordenado de tamanho fixo, como se fosse um mapeamento entre valores de índices e valores de dados.
'b' in serie2

True

In [16]:
#Conversão de um dicionário em série
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
serie3 = pd.Series(sdata)
print(serie3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [18]:
#modificar a ordem das chaves 
states = ['California', 'Ohio', 'Oregon', 'Texas']
serie4 = pd.Series(sdata, index=states)
print(serie4)
#Nesse caso, três valores encontrados em sdata foram colocados nos locais apropriados, mas, 
#como nenhum valor para 'California' foi encontrado, ele aparece como NaN (not a number), 
#que é considerado um marcador de valores ausentes ou NA no pandas. Como 'Utah' não estava 
#incluído em states, ele foi excluído do objeto resultante.

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [20]:
pd.isnull(serie4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [22]:
pd.notnull(serie4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [23]:
serie3 + serie4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [24]:
serie4.name = 'population'
serie4.index.name = 'state'
serie4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

#DataFrame
> Um DataFrame representa uma tabela de dados retangular e contém uma coleção ordenada de colunas, em que cada uma pode ter um tipo de valor diferente (numérico, string, booleano etc.). O DataFrame tem índice tanto para linha quanto para coluna; pode ser imaginado como um dicionário de Series, todos compartilhando o mesmo índice. Internamente, os dados são armazenados como um ou mais blocos bidimensionais em vez de serem armazenados como uma lista, um dicionário ou outra coleção de arrays unidimensionais.

In [26]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002, 2003], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]} 
frame1 = pd.DataFrame(data)
frame1

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [27]:
#head() retorna apenas as 5 primeiras linhas
frame1.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [28]:
#Definir a ordem das colunas
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [32]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'])
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN

In [33]:
#retornar as colunas
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [34]:
#filtrar dados por coluna
frame2['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [35]:
frame2.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [40]:
frame2['debt'] = 16.5
frame2

   year   state  pop  debt
0  2000    Ohio  1.5  16.5
1  2001    Ohio  1.7  16.5
2  2002    Ohio  3.6  16.5
3  2001  Nevada  2.4  16.5
4  2002  Nevada  2.9  16.5
5  2003  Nevada  3.2  16.5

In [44]:
frame2['debt'] = np.arange(6.)
frame2

   year   state  pop  debt
0  2000    Ohio  1.5   0.0
1  2001    Ohio  1.7   1.0
2  2002    Ohio  3.6   2.0
3  2001  Nevada  2.4   3.0
4  2002  Nevada  2.9   4.0
5  2003  Nevada  3.2   5.0

In [47]:
val = pd.Series([-1.2, -1.5, -1.7], index=[2, 4, 5])
val

2   -1.2
4   -1.5
5   -1.7
dtype: float64

In [48]:
frame2['debt'] = val
frame2

   year   state  pop  debt
0  2000    Ohio  1.5   NaN
1  2001    Ohio  1.7   NaN
2  2002    Ohio  3.6  -1.2
3  2001  Nevada  2.4   NaN
4  2002  Nevada  2.9  -1.5
5  2003  Nevada  3.2  -1.7

In [49]:
#Fazer uma atribuição a uma coluna que não exista fará uma nova coluna ser criada.
frame2['eastern'] = frame2.state == 'Ohio'
frame2

   year   state  pop  debt  eastern
0  2000    Ohio  1.5   NaN     True
1  2001    Ohio  1.7   NaN     True
2  2002    Ohio  3.6  -1.2     True
3  2001  Nevada  2.4   NaN    False
4  2002  Nevada  2.9  -1.5    False
5  2003  Nevada  3.2  -1.7    False

In [51]:
del frame2['eastern']
frame2

   year   state  pop  debt
0  2000    Ohio  1.5   NaN
1  2001    Ohio  1.7   NaN
2  2002    Ohio  3.6  -1.2
3  2001  Nevada  2.4   NaN
4  2002  Nevada  2.9  -1.5
5  2003  Nevada  3.2  -1.7

In [52]:
#criando um DataFrame a partir de um dicioniário aninhado
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [53]:
#Transposição
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [54]:
#DataFrame criado a partir de slice de outro DataFrame
pdata = {'Ohio': frame3['Ohio'][:-1], 'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

## Objetos Index
>Os objetos Index do pandas são responsáveis por armazenar os rótulos dos eixos e outros metadados (como o nome ou os nomes dos eixos). Qualquer array ou outra sequência de rótulos que você usar ao construir uma Series ou um DataFrame será internamente convertido em um Index:

In [55]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

## Funcionalidades essenciais
### Reindexação

In [75]:
serie = pd.Series([4.5,7.2,-5.3,3.6], index=['d', 'b', 'a', 'c'])
serie

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [76]:
#Chamar reindex nessa Series reorganiza os dados de acordo com o 
#novo índice, introduzindo valores indicativos de ausência 
#se algum valor de índice não estava presente antes
serie2 = serie.reindex(['a', 'b', 'c', 'd', 'e'])
serie2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [77]:
#Para dados ordenados, como as séries temporais, 
#talvez seja desejável fazer alguma interpolação 
#ou preenchimento de valores na reindexação. A opção 
#method nos permite fazer isso, usando um método como 
#ffill, que faz um preenchimento para a frente (forward-fill) dos valores:
serie3 = pd.Series(['blue', 'purple', 'yellow'], index=[0,2,4])
serie3

0      blue
2    purple
4    yellow
dtype: object

In [78]:
serie3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [79]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
        index=['a', 'c', 'd'],
        columns=['Ohio','Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [12]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [13]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

|Tipo|&nbsp;&nbsp;&nbsp;| Descrição |
|----|-|----------------|
|index| | Nova sequência para ser usada como índice. Pode ser uma instância de Index ou qualquer outra estrutura de dados Python do tipo sequência. Um Index será usado exatamente como está, sem qualquer cópia.|
|method| | Método de interpolação (preenchimento); 'ffill' preenche para a frente, enquanto 'bfill' preenche para trás.|
|fill_value| |Valor de substituição a ser usado quando dados ausentes forem introduzidos pela reindexação.|
|limit| |Quando fizer o preenchimento para a frente ou para trás, é o tamanho máximo da lacuna (em número de elementos) a ser preenchido.|
|tolerance| |Quando fizer o preenchimento para a frente ou para trás, é o tamanho máximo da lacuna (em distância numérica absoluta) para preencher no caso de correspondências inexatas.|
|level| |Faz a correspondência entre um Index simples e um nível de MultiIndex; caso contrário, seleciona um subconjunto.|
|copy| |Se for True, sempre copia os dados subjacentes, mesmo que o novo índice seja equivalente ao antigo; se for False, não copia os dados quando os índices forem equivalentes.|

## Descartando entradas de um eixo
> Descartar uma ou mais entradas de um eixo é fácil se você já tiver um array ou uma lista de índices sem essas entradas. Como isso pode exigir um pouco de manipulação de dados e lógica de conjuntos, o método drop devolverá um novo objeto com o valor ou os valores indicados apagados de um eixo:

In [15]:
serie = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
serie

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [16]:
new_serie = serie.drop('c')
new_serie

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [27]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
       index=['Ohio', 'Colorado', 'Utah', 'New York'],
       columns=['one', 'two', 'three', 'four'] )
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [28]:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [29]:
data.drop('two', axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [30]:
data.drop(['two', 'four'], axis='columns')

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [31]:
#inplace altera o DataFrame original
data.drop('Utah', inplace=True)
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York   12   13     14    15

## Indexação, seleção e filtragem

In [32]:
serie = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
serie

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [40]:
print(serie['b'])
print(serie[1])
print(serie[['b', 'a', 'd']])
print(serie[[1,3]])
print(serie[serie < 2])
#Fatiamento
print(serie['b':'c'])
serie['b':'c'] = 5
serie

1.0
1.0
b    1.0
a    0.0
d    3.0
dtype: float64
b    1.0
d    3.0
dtype: float64
a    0.0
b    1.0
dtype: float64
b    1.0
c    2.0
dtype: float64

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [42]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
    index=['Ohio', 'Colorado', 'Utah', 'New York'],
    columns=['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [43]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [44]:
data[['three','one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [48]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [49]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [50]:
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [52]:
data[data < 5] = 0
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

## Seleção com loc e iloc
> Para indexação nas linhas do DataFrame com rótulos, apresentarei os operadores especiais de indexação loc e iloc. Eles permitem selecionar um subconjunto de linhas e colunas de um DataFrame com uma notação semelhante àquela do NumPy, usando rótulos de eixo (loc) ou inteiros(iloc).

In [53]:
data.loc['Colorado', ['two','three']]

two      5
three    6
Name: Colorado, dtype: int64

In [54]:
data.iloc[2, [3,0,1]]

four    11
one      8
two      9
Name: Utah, dtype: int64

In [55]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

In [56]:
data.iloc[[1,2],[3,0,1]]

          four  one  two
Colorado     7    0    5
Utah        11    8    9

In [57]:
data.loc[:'Utah','two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [60]:
data.iloc[:, :3][data.three > 5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

|Tipo|&nbsp;&nbsp;&nbsp;| Observações |
|----|-|----------------|
|df\[val\]| |Seleciona uma única coluna ou uma sequência de colunas do DataFrame; conveniências para casos especiais: array booleano (filtra linhas), fatia (fatia linhas) ou DataFrame booleano (define valores com base em algum critério)|
|df.loc\[val\]| |Seleciona uma única linha ou um subconjunto de linhas do DataFrame pelo rótulo|
|df.loc\[:, val\]| |Seleciona uma única coluna ou um subconjunto de colunas pelo rótulo|
|df.loc\[val1, val2\]| |Seleciona tanto linhas quanto colunas pelo rótulo|
|df.iloc\[where\]| |Seleciona uma única linha ou um subconjunto de linhas do DataFrame pela posição com um inteiro|
|df.iloc\[:, where\]| |Seleciona uma única coluna ou um subconjunto de colunas pela posição com um inteiro|
|df.iloc\[where_i, where_j\]| |Seleciona tanto linhas quanto colunas pela posição com um inteiro|
|df.at\[label_i, label_j\]| |Seleciona um único valor escalar pelo rótulo da linha e da coluna|
|df.iat\[i, j\]| |Seleciona um único valor escalar pela posição (inteiros) da linha e da coluna|
|método reindex| |Seleciona linhas ou colunas pelos rótulos|
|métodos get_value, set_value| |Seleciona um único valor pelo rótulo da linha e da coluna|

## Índices inteiros
> Trabalhar com objetos do pandas indexados por inteiros é algo que, com frequência, confunde os novos usuários por causa de algumas diferenças com a semântica de indexação em estruturas de dados embutidas de Python, como listas e tuplas.Por exemplo, talvez você não esperasse que o código a seguir gerasse um erro.

In [64]:
ser = pd.Series(np.arange(3.))
print(ser)
print(ser[-1])

0    0.0
1    1.0
2    2.0
dtype: float64

KeyError: -1

In [ ]:
#Temos aqui um índice contendo 0, 1, 2, mas inferir o que o usuário quer (indexação baseada em rótulo ou baseada em posição) é difícil:

In [67]:
#Por outro lado, com um índice que não seja inteiro, não há potencial para ambiguidades
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
print(ser2)
print(ser2[-1])

a    0.0
b    1.0
c    2.0
dtype: float64
2.0

In [71]:
#Para manter o código consistente, se você tiver um índice de 
#eixo contendo inteiros, a seleção de dados sempre será 
#orientada a rótulos. Para um tratamento mais preciso, 
#utilize loc (para rótulos) ou iloc (para inteiros):
print(ser2[:1])
print(ser2.iloc[:1])

a    0.0
dtype: float64
a    0.0
dtype: float64

## Aritmética e alinhamento de dados
> Um recurso importante do pandas para algumas aplicações é o comportamento da aritmética entre objetos com índices diferentes. Quando objetos estiverem sendo somados, se algum par de índices não for igual, o respectivo índice no resultado será a união dos pares de índices. Para usuários com experiência em banco de dados, isso é semelhante a uma outer join (junção externa) automática nos rótulos do índice.

In [73]:
serie1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
serie2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f','g'])
print(serie1)
print(serie2)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64
a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [74]:
#O alinhamento de dados interno introduz valores 
#indicativos de ausência nos locais dos rótulos que não se sobrepõem.
serie1 + serie2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [83]:
#O alinhamento de dados interno introduz valores indicativos de ausência nos locais dos rótulos que não se sobrepõem
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)),
        columns=list('bcd'),
        index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),
        columns=list('bde'),
        index=['Utah','Ohio', 'Texas', 'Oregon'])
print(df1)
print(df2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [84]:
#Somar esses dados devolve um DataFrame cujos índice e colunas são as uniões dos dados de cada DataFrame:
df1 + df2
#Como as colunas 'c' e 'e' não se encontram nos dois objetos DataFrame, eles aparecerão 
#como dados ausentes no resultado. O mesmo vale para linhas cujos rótulos não são comuns aos dois objetos.

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

## Métodos aritméticos com valores para preenchimento
> Em operações aritméticas entre objetos indexados de modo diferente, talvez você queira fazer um preenchimento com um valor especial, como 0, quando um rótulo de eixo for encontrado em um objeto, mas não no outro:

In [85]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),
    columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)),
    columns=list('abcde'))
df2.loc[1,'b'] = np.nan
print(df1)
print(df2)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [87]:
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [88]:
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [89]:
1 / df1

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [91]:
df1.rdiv(1)

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [92]:
#Relacionado a esse caso, quando reindexamos uma Series ou um DataFrame, podemos também especificar um valor diferente para preenchimento
df1.reindex(columns=df2.columns, fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

|Tipo|&nbsp;&nbsp;&nbsp;| Observações |
|----|-|----------------|
|add, radd| |Métodos para adição (+)|
|sub, rsub| |Métodos para subtração (-)|
|div, rdiv| |Métodos para divisão (/)|
|floordiv, rfloordiv| |Métodos para divisão pelo piso (//)|
|mul, rmul| |Métodos para multiplicação (*)|
|pow, rpow| |Métodos para exponencial (**)|