# Data Loading, Storage,

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
#https://numpy.org/doc/stable/reference/generated/numpy.set_printoptions.html
np.set_printoptions(precision=4, suppress=True)

## Reading and Writing Data in Text Format

In [2]:
#Execução de comando no sistema operacional
!cat examples/ex1.csv

9,10,11,12,foo

In [5]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
#mesma funcionalidade do read_csv
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
#Arquivo sem linha de cabeçalho
!cat examples/ex2.csv

9,10,11,12,foo

In [15]:
#permitir que o pandas atribua valores default
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [16]:
#Ou nós mesmos podemos especificar os nomes
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
#como utilizar uma das colunas como coluna de index
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [19]:
#índice hierárquico a partir de várias colunas
!cat examples/csv_mindex.csv
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [23]:
#Em alguns casos, uma tabela pode não ter um delimitador fixo, 
#usando espaço em branco ou outro padrão para separar os campos.
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [3]:
#essa, é possível passar uma expressão regular como um delimitador 
#para read_table. Nesse exemplo, podemos usar a expressão regular \s+
# a expressão \s+ retorna as palavras retirando o espaço em branco
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [5]:
#ler o arquivo ignorando algumas linhas
!cat examples/ex4.csv
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat examples/ex5.csv
result = pd.read_csv('examples/ex5.csv')
result
pd.isnull(result)

three,9,10,11,12,foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [9]:
#A opção na_values pode aceitar uma lista ou um conjunto de 
#strings a serem considerados como valores ausentes:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [10]:
#os valores considerados nulos podem ser definidos por coluna
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

| Argumento | |Descrição | 
|-----------|-|----------|
|Path| |String que indica o local no sistema de arquivos, o URL ou um objeto do tipo arquivo|
|sep ou delimiter| |Sequência de caracteres ou uma expressão regular a ser usada para separar campos em cada linha|
|header| |Número da linha a ser usada como nomes de coluna; o default é 0 (primeira linha), mas deverá ser None se não houver linha de cabeçalho|
|index_col| |Números ou nomes de coluna a serem usados como índice das linhas no resultado; pode ser um único nome/número ou uma lista deles se for um índice hierárquico|
|names| |Lista de nomes de colunas para o resultado; pode ser combinado com header=None|
|skiprows| |Número de linhas a serem ignoradas no início do arquivo ou lista de números de linhas (começando de 0) a serem ignoradas.|
|na_values| |Sequência de valores a serem substituídos por NA.|
|comment| |Caractere(s) para separar comentários no final das linhas|
|parse_dates| |Tenta fazer parse de dados para datetime; o default é False. Se for True, tentará fazer parse de todas as colunas. Caso contrário, poderá especificar uma lista de números ou nomes de colunas para o parse. Se o elemento da lista for uma tupla ou uma lista, combinará várias colunas e fará o parse para data (por exemplo, se a data/hora estiverem separadas em duas colunas).|
|keep_date_col| |Se as colunas forem reunidas para parse de data, mantém as colunas unidas; o default é False.|
|converters| |Dicionário contendo o número ou o nome de colunas mapeados para funções (por exemplo, {'foo': f} aplica a função f em todos os valores da coluna 'foo').|
|dayfirst| |Ao fazer parsing de datas potencialmente ambíguas, trata-as como estando no formato internacional (por exemplo, 7/6/2012 -> 7 de junho de 2012); o default é False.|
|date_parser| |Função a ser usada para parse de datas.|
|nrows| |Número de linhas a serem lidas no início do arquivo.|

### Reading Text Files in Pieces

In [16]:
#Altera a configuração do pandas para mostrar apenas as 10 linhas
pd.options.display.max_rows = 10

In [17]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [19]:
#Especificando o número máximo de linhas que será lido
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [20]:
#leitura do arquivo por partes
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [26]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [28]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### Writing Data to Text Format

In [3]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [4]:
data.to_csv('examples/out.csv')
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [5]:
#escrevendo para a saída padrão stdout
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [6]:
#Valores ausentes aparecem como strings vazias na 
#saída. Você pode representá-las com outro valor
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [7]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [8]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

### Working with Delimited Formats

In [10]:
!cat examples/ex7.csv

In [21]:
import csv
f = open('examples/ex7.csv')

reader = csv.reader(f)

In [22]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [23]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [24]:
header, values = lines[0], lines[1:]

In [25]:
header

['a', 'b', 'c']

In [26]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [27]:
#Então podemos criar um dicionário de colunas de dados usando uma dictionary 
#comprehension e a expressão zip(*values), 
#que faz a transposição das linhas para as colunas:

data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

|Argumento| | Descrição|
|---------|-|----------|
|delimiter| |String de um caractere para separar os campos; o default é ','.|
|lineterminator| |Finalizador de linha para escrita; o default é '\r\n'. O reader ignora isso e reconhece finalizadores de linha em plataformas diferentes.| 
|quotechar| |Caractere de aspas para campos com caracteres especiais (como um delimitador); o default é '"'.|
|quoting| |Convenção para aspas. As opções incluem csv.QUOTE_ALL (aspas em todos os campos), csv.QUOTE_MINIMAL (somente campos com caracteres especiais, como o delimitador), csv.QUOTE_NONNUMERIC e csv.QUOTE_NONE (sem aspas). Consulte a documentação de Python para ver todos os detalhes. O default é QUOTE_MINIMAL.|
|skipinitialspace| |Ignora espaços em branco depois de cada delimitador; o default é False.|
|doublequote| |Como lidar com o caractere de aspas em um campo; se for True, é duplo (consulte a documentação online para ver todos os detalhes e o comportamento).|
|escapechar| |String para escapar o delimitador se quoting estiver definido com csv.QUOTE_NONE; o default é desativado.|

### JSON Data

In [31]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [32]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [33]:
asjson = json.dumps(result)

In [34]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [35]:
!cat examples/example.json

In [36]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [37]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scraping

In [38]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [39]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

#### Parsing XML with lxml.objectify

<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>

In [41]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [42]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [43]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

In [44]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [45]:
root
root.get('href')
root.text

'Google'

## Binary Data Formats

In [46]:
frame = pd.read_csv('examples/ex1.csv')
frame
frame.to_pickle('examples/frame_pickle')

In [47]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
!rm examples/frame_pickle

### Using HDF5 Format

In [49]:
!pip install tables

Collecting tables
  Downloading tables-3.6.1-cp36-cp36m-manylinux1_x86_64.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 17.0 MB/s eta 0:00:01
Requirement already satisfied: numexpr>=2.6.2 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from tables) (2.7.1)
Requirement already satisfied: numpy>=1.9.3 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from tables) (1.18.5)
Installing collected packages: tables
Successfully installed tables-3.6.1

In [50]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [51]:
store['obj1']

           a
0  -1.565657
1  -0.562540
2  -0.032664
3  -0.929006
4  -0.482573
..       ...
95  0.910983
96 -1.020903
97 -1.413416
98  1.296608
99  0.252275

[100 rows x 1 columns]

In [52]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [53]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -1.565657
1 -0.562540
2 -0.032664
3 -0.929006
4 -0.482573

In [54]:
os.remove('mydata.h5')

### Reading Microsoft Excel Files

In [56]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 15.7 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [57]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [58]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [59]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [61]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 14.0 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... - \ done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8917 sha256=512a508cb63a36c7cd3849a952ab2a2dbfd94be5c2ff2b99969ca6bf2eca2ced
  Stored in directory: /home/azureuser/.cache/pip/wheels/ef/92/e0/956c00decf3091294b8800d9104f6169a1adacfaafd122ed42
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, jdcal, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5

In [62]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [65]:
frame.to_excel('examples/ex2.xlsx')

In [66]:
!rm examples/ex2.xlsx

## Interacting with Web APIs

In [67]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [68]:
data = resp.json()
data[0]['title']

'PERF: fix regression in tz_convert_from_utc'

In [69]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,38074,PERF: fix regression in tz_convert_from_utc,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
1,38073,BUG: Series.where casting dt64 to int64,[],open
2,38072,TST/REF: take things out of Base tests,[],open
3,38071,BUG: DataFrame.loc returning empty result with...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
4,38070,BUG: Index.drop raising Error when Index has d...,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
5,38068,ENH: NDArrayBackedExtensionArray.__array_funct...,[],open
6,38067,DOC: Include missing holiday observance rules,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
7,38066,RLS: 1.1.5,"[{'id': 131473665, 'node_id': 'MDU6TGFiZWwxMzE...",open
8,38065,ENH: Add get_window method on a rolling object,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
9,38064,DOC: tidy 1.1.5 release notes,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
10,38063,<NA> and NaN evaluate differently in equality ...,[],open
11,38062,DOC: move info docs to DataFrameInfo,[],open
12,38057,PERF: fix regression in creation of resulting ...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
13,38054,TST: tighten assert_index_equal calls,[],open
14,38053,BUG: calling at[] on a Series with a single-le...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,38052,BUG: get_indexer_non_unique not excluding bool...,[],open
16,38051,BUG: Index.drop raises on non-unique Index,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,38049,REF: share argmax axis validation test across ...,[],open
18,38048,ENH: adding support for Py3.6+ memory tracing ...,[],open
19,38047,DOC: Remove repeated words and wrong /it's/ usage,[],open
20,38046,BUG: BDay() offsetting not behaving as expected,"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open
21,38045,CLN: dont mix Int64Index into PeriodIndex,[],open
22,38044,CLN: Remove .values from groupby.sem,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
23,38043,TYP: Add cast to ABC Index-like types,[],open
24,38042,ENH: groupby.apply axis=1 behavior,"[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...",open
25,38040,BUG: Series constructor drops nanoseconds of T...,[],open
26,38039,Is possible pass `Series` to `groupby.head` ?,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
27,38038,REGR: Performance regression on RollingGroupby,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
28,38037,KeyError in datetime pandas due to Big Sur?,[],open
29,38034,ENH: preserve RangeIndex in factorize,[],open

## Interacting with Databases

In [5]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
#con = sqlite3.connect('mydata.sqlite')
con = sqlite3.connect('file:cachedb?mode=memory&cache=shared')
cursor = con.cursor()
cursor.execute(query)
con.commit()

OperationalError: database is locked

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

In [ ]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [ ]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

In [ ]:
!rm mydata.sqlite