# Data Cleaning and Preparation

In [1]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

## Handling Missing Data

In [2]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [3]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

### Filtering Out Missing Data

In [4]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [5]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [17]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data
cleaned

     0    1    2
0  1.0  6.5  3.0

In [18]:
#Remove a coluna que contém apenas valores NaN
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [20]:
data[2][0] = NA
data[2][3] = NA
data
data.dropna(axis=1, how='all')

     0    1
0  1.0  6.5
1  1.0  NaN
2  NaN  NaN
3  NaN  6.5

In [26]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0 -0.036264       NaN       NaN
1 -0.589488       NaN       NaN
2  0.457002       NaN -1.569271
3 -1.022487       NaN  0.220487
4 -0.193401  0.669158 -1.648985
5 -2.252797 -1.166832  0.353607
6  0.702110 -0.274569 -0.139142

In [32]:
#Mantém linhas com pelo menos 2 NaN
df.dropna(thresh=2)

          0         1         2
2  0.457002       NaN -1.569271
3 -1.022487       NaN  0.220487
4 -0.193401  0.669158 -1.648985
5 -2.252797 -1.166832  0.353607
6  0.702110 -0.274569 -0.139142

### Filling In Missing Data

In [33]:
df.fillna(0)

          0         1         2
0 -0.036264  0.000000  0.000000
1 -0.589488  0.000000  0.000000
2  0.457002  0.000000 -1.569271
3 -1.022487  0.000000  0.220487
4 -0.193401  0.669158 -1.648985
5 -2.252797 -1.166832  0.353607
6  0.702110 -0.274569 -0.139142

In [34]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0 -0.036264  0.500000  0.000000
1 -0.589488  0.500000  0.000000
2  0.457002  0.500000 -1.569271
3 -1.022487  0.500000  0.220487
4 -0.193401  0.669158 -1.648985
5 -2.252797 -1.166832  0.353607
6  0.702110 -0.274569 -0.139142

In [35]:
#O metodo fill sempre retorna um novo DataFrame, mas com o inplace=True ele altera também o original
_ = df.fillna(0, inplace=True)
df

          0         1         2
0 -0.036264  0.000000  0.000000
1 -0.589488  0.000000  0.000000
2  0.457002  0.000000 -1.569271
3 -1.022487  0.000000  0.220487
4 -0.193401  0.669158 -1.648985
5 -2.252797 -1.166832  0.353607
6  0.702110 -0.274569 -0.139142

In [38]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0 -1.844788  2.068708 -0.776967
1  1.440167 -0.110557  1.227387
2  1.920784       NaN  2.224660
3 -0.679400       NaN -0.868731
4 -1.213851       NaN       NaN
5 -0.838827       NaN       NaN

In [39]:
#pad / ffill: propaga a última observação válida para a frente para o próximo 
#backfill / bfill válido: use a próxima observação válida para preencher a lacuna
df.fillna(method='ffill')

          0         1         2
0 -1.844788  2.068708 -0.776967
1  1.440167 -0.110557  1.227387
2  1.920784 -0.110557  2.224660
3 -0.679400 -0.110557 -0.868731
4 -1.213851 -0.110557 -0.868731
5 -0.838827 -0.110557 -0.868731

In [40]:
#Número máximo de elementos seguidos que serão preenchidos.
df.fillna(method='ffill', limit=2)

          0         1         2
0 -1.844788  2.068708 -0.776967
1  1.440167 -0.110557  1.227387
2  1.920784 -0.110557  2.224660
3 -0.679400 -0.110557 -0.868731
4 -1.213851       NaN -0.868731
5 -0.838827       NaN -0.868731

In [41]:
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

## Data Transformation

### Removing Duplicates

In [2]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [3]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [4]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [5]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [7]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [6]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transforming Data Using a Function or Mapping

In [8]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [10]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}
meat_to_animal

{'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'}

In [11]:
lowercased = data['food'].str.lower()
lowercased
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [12]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### Replacing Values

In [13]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [14]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [15]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [16]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [17]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### Renaming Axis Indexes

In [37]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [40]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [41]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [42]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [43]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [44]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

### Discretization and Binning

In [45]:
#Dados contínuos com frequência são discretizados ou, 
#de modo alternativo, separados em “compartimentos” (bins) 
#para análise. Suponha que tenhamos dados sobre um grupo de 
#pessoas em um estudo e queremos agrupá-las em conjuntos de idades discretas:

ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [46]:
#O objeto devolvido pelo pandas é um objeto Categorical especial. 
#A saída que vemos descreve os compartimentos calculados pelo 
#pandas.cut. Podemos tratá-la como um array de strings informando 
#o nome do compartimento; internamente, ela contém um array categories 
#que especifica os nomes distintos das categorias, junto com rótulos 
#para os dados de ages no atributo codes:

bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [48]:
#Codes are an array of integers which are the positions of the actual values in the categories array.
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [49]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [50]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [51]:
#De forma consistente com a notação matemática para 
#intervalos, um parêntese significa que o lado está 
#aberto, enquanto o colchete indica que está fechado 
#(é inclusivo). Podemos alterar o lado que está fechado
# passando right=False:

pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [52]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [53]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2)

[(0.73, 0.96], (0.25, 0.49], (0.0074, 0.25], (0.0074, 0.25], (0.49, 0.73], ..., (0.49, 0.73], (0.73, 0.96], (0.73, 0.96], (0.73, 0.96], (0.49, 0.73]]
Length: 20
Categories (4, interval[float64]): [(0.0074, 0.25] < (0.25, 0.49] < (0.49, 0.73] < (0.73, 0.96]]

In [68]:
data = np.random.randn(1000)  # Normally distributed
cats = pd.qcut(data, 4)  # Cut into quartiles
cats

[(0.708, 3.367], (-0.62, -0.0161], (-3.55, -0.62], (-3.55, -0.62], (-0.0161, 0.708], ..., (-0.0161, 0.708], (-0.62, -0.0161], (-0.0161, 0.708], (0.708, 3.367], (0.708, 3.367]]
Length: 1000
Categories (4, interval[float64]): [(-3.55, -0.62] < (-0.62, -0.0161] < (-0.0161, 0.708] < (0.708, 3.367]]

In [69]:
pd.value_counts(cats)

(0.708, 3.367]      250
(-0.0161, 0.708]    250
(-0.62, -0.0161]    250
(-3.55, -0.62]      250
dtype: int64

In [73]:
cats2 = pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])
cats2

[(-0.0161, 1.268], (-1.248, -0.0161], (-1.248, -0.0161], (-1.248, -0.0161], (-0.0161, 1.268], ..., (-0.0161, 1.268], (-1.248, -0.0161], (-0.0161, 1.268], (-0.0161, 1.268], (1.268, 3.367]]
Length: 1000
Categories (4, interval[float64]): [(-3.55, -1.248] < (-1.248, -0.0161] < (-0.0161, 1.268] < (1.268, 3.367]]

In [74]:
pd.value_counts(cats2)

(-0.0161, 1.268]     400
(-1.248, -0.0161]    400
(1.268, 3.367]       100
(-3.55, -1.248]      100
dtype: int64

### Detecting and Filtering Outliers
Detectando e filtrando valores discrepantes

In [75]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.019456    -0.025809    -0.022488     0.000040
std       0.995272     0.961198     0.979925     1.024047
min      -3.481593    -3.194414    -3.108915    -3.645860
25%      -0.696723    -0.701202    -0.699059    -0.697678
50%      -0.011049    -0.035084    -0.003643     0.031774
75%       0.651287     0.650671     0.613225     0.686028
max       3.525865     3.023720     2.859053     3.189940

In [76]:
#Suponha que quiséssemos encontrar os valores que excedessem 3 em valor absoluto em uma das colunas:
col = data[2]
col[np.abs(col) > 3]

392   -3.108915
Name: 2, dtype: float64

In [81]:
#Para selecionar todas as linhas que tenham um valor que exceda 3 ou –3, podemos utilizar o método any em um DataFrame booleano:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
43   3.525865  0.283070  0.544635  0.462204
63  -0.450721 -0.080332  0.599947 -3.645860
286 -3.333767 -1.240685 -0.650855  0.076254
367  0.344072  0.581893 -1.116332 -3.018842
392 -0.555434 -0.048478 -3.108915  1.117755
522 -0.217146 -0.274138  1.188742 -3.183867
569  0.744019  1.741426 -2.214074 -3.140963
735 -0.848098 -3.194414  0.077839 -1.733549
765 -0.011807  3.023720 -1.105312  0.105141
794 -3.481593  0.789944  1.737746 -0.875399
962 -0.463276 -0.071320  0.164293  3.082067
990  0.412366  0.617599 -0.843849  3.189940

In [82]:
#Valores podem ser definidos com base nesses critérios. 
#Eis um código para eliminar os valores que estejam fora do intervalo de –3 a 3:

data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.019166    -0.025638    -0.022379     0.000757
std       0.990910     0.960501     0.979587     1.020089
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.696723    -0.701202    -0.699059    -0.697678
50%      -0.011049    -0.035084    -0.003643     0.031774
75%       0.651287     0.650671     0.613225     0.686028
max       3.000000     3.000000     2.859053     3.000000

In [83]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0 -1.0
1 -1.0  1.0 -1.0  1.0
2 -1.0 -1.0  1.0  1.0
3 -1.0  1.0  1.0  1.0
4  1.0  1.0 -1.0  1.0

### Permutation and Random Sampling

In [2]:
#Permutar (reordenar aleatoriamente) uma Series ou as linhas 
#de um DataFrame é fácil utilizando a função numpy.random.permutation. 
#Chamar permutation com o tamanho do eixo que você quer permutar 
#gera um array de inteiros informando a nova ordem:

df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [3]:
sampler = np.random.permutation(5)
sampler

array([0, 4, 3, 1, 2])

In [88]:
df
df.take(sampler)

    0   1   2   3
2   8   9  10  11
0   0   1   2   3
3  12  13  14  15
1   4   5   6   7
4  16  17  18  19

In [89]:
#Para selecionar um subconjunto aleatório sem substituição, o método sample pode ser usado em Series e em DataFrame:
df.sample(n=3)

    0   1   2   3
4  16  17  18  19
3  12  13  14  15
0   0   1   2   3

In [90]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

1    7
1    7
4    4
0    5
1    7
2   -1
0    5
3    6
0    5
4    4
dtype: int64

### Computing Indicator/Dummy Variables
Calculando variáveis indicadoras/dummy

Outro tipo de transformação para modelagem estatística ou aplicações de aprendizado de máquina (machine learning) consiste em converter uma variável de categorias em uma matriz “dummy” ou “indicadora”. Se uma coluna em um DataFrame tiver k valores distintos, poderíamos derivar uma matriz ou um DataFrame com k colunas contendo somente 1s e 0s. O pandas tem uma função get_dummies para isso, embora criar uma função por conta própria não seria difícil.

In [93]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [95]:
df['key']

0    b
1    b
2    a
3    c
4    a
5    b
Name: key, dtype: object

In [94]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [96]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [97]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('datasets/movielens/movies.dat', sep='::',
                       header=None, names=mnames)
movies[:10]

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [98]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)

In [99]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [102]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies.head()

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
gen = movies.genres[0]
gen.split('|')
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2])

In [104]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [108]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                      1
title                          Toy Story (1995)
genres              Animation|Children's|Comedy
Genre_Animation                               1
Genre_Children's                              1
                               ...
Genre_War                                     0
Genre_Musical                                 0
Genre_Mystery                                 0
Genre_Film-Noir                               0
Genre_Western                                 0
Name: 0, Length: 21, dtype: object

In [106]:
#Criando uma matriz Dummies a partir da discretização de valores com o CUT
np.random.seed(12345)
values = np.random.rand(10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

## String Manipulation

### String Object Methods

In [4]:
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

In [5]:
#TRIM
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [6]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [7]:
'::'.join(pieces)

'a::b::guido'

In [8]:
'guido' in val
val.index(',')
val.find(':')

-1

In [9]:
val.index(':')

ValueError: substring not found

In [10]:
val.count(',')

2

In [11]:
val.replace(',', '::')
val.replace(',', '')

'ab  guido'

| Argumento | | Descrição |
|-----------|-|-----------|
|count| | Devolve o número de ocorrências de uma substring na string, sem sobreposição.|
|endswith| |Devolve True se a string terminar com o sufixo.|
|startswith| |Devolve True se a string começar com o prefixo.|
|join| |Utiliza a string como delimitadora para concatenar uma sequência de outras strings.|
|index| |Devolve a posição do primeiro caractere de uma substring, se ela for encontrada em uma string: gera ValueError se não encontrar.|
|find| |Devolve a posição do primeiro caractere da primeira ocorrência da substring na string; é como index, porém devolve –1 se não encontrar.|
|rfind| |Devolve a posição do primeiro caractere da última ocorrência da substring na string; devolve –1 se não encontrar.|
|replace| |Substitui ocorrências de uma string por outra string.|
|strip, rstrip, lstrip| |Remove espaços em branco, incluindo quebras de linha; é equivalente a x.strip() (e a rstrip e lstrip, respectivamente) para cada elemento.|
|split| |Separa a string em uma lista de substrings usando o delimitador especificado.|
|lower| |Converte os caracteres alfabéticos para letras minúsculas.|
|upper| |Converte os caracteres alfabéticos para letras maiúsculas.|
|casefold| |Converte os caracteres para letras minúsculas e converte quaisquer combinações variáveis de caracteres específicos de região para um formato comum comparável.| 
|ljust, rjust| | Justifica à esquerda ou à direita, respectivamente; preenche o lado oposto da string com espaços (ou com outro caractere de preenchimento) para devolver uma string com um tamanho mínimo.|

### Regular Expressions

In [29]:
import re
text = "foo    bar\t baz  \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [30]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [31]:
regex.findall(text)

['    ', '\t ', '  \t']

In [33]:
#match e search estão intimamente relacionados a findall. 
#Enquanto findall devolve todas as correspondências em uma 
#string, search devolve apenas a primeira. De modo mais 
#rigoroso, match faz a correspondência somente no início da 
#string. Como um exemplo menos trivial, vamos considerar um 
#bloco de texto e uma expressão regular capaz de 
#identificar a maioria dos endereços de email:

text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'


# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [34]:
#Usar findall no texto gera uma lista de endereços de email
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [35]:
#search devolve um objeto especial de correspondência para o 
#primeiro endereço de email no texto. Para a regex anterior, 
#o objeto de correspondência pode nos dizer apenas a posição 
#de início e de fim do padrão na string:

m = regex.search(text)
m

In [36]:
text[m.start():m.end()]

'dave@google.com'

In [37]:
#regex.match devolve None, pois fará a correspondência 
#somente se o padrão ocorrer no início da string
print(regex.match(text))

None

In [38]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [41]:
#Suponha que quiséssemos encontrar os endereços de email e, 
#simultaneamente, segmentar cada endereço em seus 
#três componentes: nome do usuário, nome do domínio e sufixo do domínio.


pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [42]:
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [43]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [44]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

### Vectorized String Functions in pandas

In [52]:
#Limpar um conjunto de dados desorganizado para análise 
#em geral exige muita manipulação e regularização de strings. 
#Para complicar mais ainda a situação, uma coluna contendo 
#strings ocasionalmente terá dados ausentes:

data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [53]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [54]:
pattern
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [55]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [56]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

## Conclusion